.container {
    margin: 0;
    height: 100vh;
}

.main {
    margin: 0 20px 20px 0;
    padding-top: 50px;
    display: grid;
    grid-template-columns: 10% 1fr;
    height: 80vh;
}

/* Left Buttons */

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.numberBtnsWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.numberBtn {
    border: 2px solid var(--dark-blue);
    background-color: var(--dark-green);
    margin: 2px 0;
    font-size: 2.4rem;
    color: var(--purple);
    width: 100%;
    font-weight: 900;
    font-family: Orbitron, sans-serif;
}

.numberBtn-active {
    border: 2px solid var(--dark-blue);
    background-color: var(--light-green);
    margin: 2px 0;
    font-size: 2.4rem;
    color: var(--purple);
    width: 4rem;
}

.numberBtn:hover {
    cursor: pointer;
    background-color: var(--light-green);
}

.burger {
    width: 100%;
    border: 2px solid var(--dark-blue);
    background-color: var(--light-green);
    margin: 2px 0;
    font-size: 2.4rem;
    color: var(--purple);
}

/* Screen */

.screen {
    display: grid;
    grid-template-rows: 3em 1fr;
    border: 2px solid var(--dark-blue);
    background-color: var(--dark-green);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 12px rgba(0, 0, 0, 0.23);
    max-height: 85vh;
}

.titleBar {
    display: flex;
    border-bottom: 2px solid var(--dark-blue);
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-green);
}

.titleBtns {
    display: flex;
}

.titleBtn {
    border-left: 2px solid var(--dark-blue);
    padding: 3px 8px;
}

.titleBtns div:hover {
    cursor: pointer;
}

.title {
    text-transform: uppercase;
    font-size: 2.3rem;
    font-weight: 900;
    font-family: Orbitron, sans-serif;
    margin-left: 1rem;
    color: var(--purple);
}

.screenContent {
    text-transform: uppercase;
    margin-left: 1rem;
    padding-right: 1rem;
    color: var(--dark-blue);
    font-size: 2.3rem;
    overflow: auto;
}

.screenContentTitle {
    letter-spacing: 8px;
}

/* Footer and Credits */

.footer {
    position: fixed;
    bottom: 24px;
    right: 20px;
    display: flex;
    align-items: center;
    color: var(--light-green);
    font-size: 1.7rem;
    font-weight: 300;
}

.credit {
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
    color: var(--light-green);
}

/* Phone Styles */

@media screen and (max-width: 900px) {
    .main {
        margin: 0 14px 200px 14px;
        padding-top: 0;
        display: flex;
        flex-direction: column;
    }

    .numberBtn,
    .burger {
        flex: 1;
        margin: 2px;
        width: auto;
        min-width: 76px;

    }

    .numberBtnsWrapper {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: space-evenly;
        margin-top: 10px;
    }

    .title {
        font-size: clamp(1.2rem, 8vw - 2rem, 2.3rem);
    }

    .screen {
        margin-top: 20px;
    }

    .screenContent {
        font-size: 1.3rem;
    }

    .screenContent img {
        display: block;
        margin: auto;
    }

    .credit{
        position: relative;
    }

    .footer {
        margin-top: 20px;
        position: relative;
        text-align: right;
        bottom: 0px;
        right: 0px;
        margin-left: auto;
    }
}
