
:root {
  --light-green: #D6F8B8;
  --dark-green: #8FBBAF;
  --purple: #827397;
  --light-blue: #6B7B8E;
  --dark-blue: #363062;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  background-color: var(--light-blue);
    background-image:
      linear-gradient(to right, var(--dark-green) 1px, transparent 1px),
      linear-gradient(to bottom, var(--dark-green) 1px, transparent 1px);
    background-size: 20px 20px;
    background-position: -2px -2px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: var(--light-green);
}

* {
  box-sizing: border-box;
}

img {
  border-radius: 10px;
  max-width: 200px;
  height: auto;
}